.button {
    padding-top: rem(10);
    padding-right: rem(15);
    padding-bottom: rem(10);
    padding-left: rem(15);

    color: $color-light;
    font-family: $font-primary;

    font-weight: $weight-semi-bold;
    text-align: center;

    cursor: pointer;

    background-color: transparent;
    border: 2px solid $color-light;

    border-radius: rem(5);
    box-shadow: 0 0 rem(15) 2px $color-dark-alpha-1;

    transition: background ease 300ms;

    &.primary {
        color: $color-light;

        background-color: $color-primary;
        border-color: transparent;

        &:hover {
            background-color: $color-primary-shade-1;
        }
    }

    &.secondary {
        color: $color-light;

        background-color: $color-secondary;
        border-color: transparent;
    }

    &.tertiary {
        color: $color-light;

        background-color: $color-tertiary-shade-1;

        border-color: transparent;

        &:hover {
            background-color: $color-tertiary;
        }
    }
}
