.button {
    padding-top: rem(10);
    padding-right: rem(15);
    padding-bottom: rem(10);
    padding-left: rem(15);

    font-weight: $weight-semi-bold;

    cursor: pointer;

    border-radius: rem(5);
    box-shadow: 0 0 rem(15) 2px $color-dark-alpha-1;

    transition: background ease 300ms;

    &.primary {
        color: $color-light;

        background-color: $color-primary;

        &:hover {
            background-color: $color-primary-shade-1;
        }
    }

    &.secondary {
        color: $color-light;

        background-color: $color-secondary;
    }

    &.tertiary {
        color: $color-light;

        background-color: $color-tertiary-shade-1;

        &:hover {
            background-color: $color-tertiary;
        }
    }
}
