.call-to-action {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: rem(50);
    padding-bottom: rem(50);

    background-color: $color-quartenary-shade-1;

    border-radius: 10px;

    &-label {
        color: $color-light;
        font-family: $font-primary;
        font-size: 24px;
        font-weight: $weight-bold;
    }
}
