.call-to-action {
    padding-top: rem(20);
    padding-right: rem(20);
    padding-bottom: rem(20);
    padding-left: rem(20);
    margin-bottom: $gap-standard;

    background-color: $color-secondary-shade-1;

    border-radius: 10px;

    &-title {
        margin-bottom: 20px;

        color: $color-light;
        font-family: $font-primary;
        font-size: 24px;
        font-weight: $weight-bold;
    }

    &-button {
        display: inline-block;
        margin-right: 10px;
    }
}
