.call-to-action {
    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: center;

    min-height: 300px;
    padding-top: rem(20);
    padding-right: rem(20);
    padding-bottom: rem(20);
    padding-left: rem(20);
    margin-bottom: $gap-standard;

    background: $gradient-secondary;

    background-color: $color-quaternary-shade-1;

    &-inner {
        display: flex;

        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &-title {
        margin-bottom: 20px;

        color: $color-light;
        font-family: $font-primary;
        font-size: 24px;
        font-weight: $weight-bold;
    }

    &-actions {
    }

    &-button {
        display: inline-block;
        margin-right: 10px;
    }
}
