.contact {
    &-title {
        position: relative;

        padding-bottom: rem(5);
        margin-bottom: rem(40);

        font-size: rem(24);
        text-align: center;

        &::after {
            position: absolute;
            bottom: -7px;
            left: 50%;

            width: 40px;

            border-bottom: 2px solid $color-secondary;
            content: "";

            transform: translateX(-50%);
        }
    }

    &-input,
    &-text {
        display: block;
        width: 100%;
        padding: 12px;
        margin-bottom: rem(20);

        font-size: rem(18);

        border: none;
        border-radius: 3px;
        box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
    }

    &-text {
        height: 200px;
    }

    &-button {
        padding: rem(10) rem(20);

        color: $color-light;
        font-size: rem(20);

        background-color: $color-secondary;
        border: none;
        border-radius: 3px;
    }
}
