.feature {
    display: flex;
    padding-bottom: 100px;
    margin-bottom: $gap-standard;

    border-radius: rem(5);

    @media (--to-medium-screen-w) {
        flex-direction: column;
    }

    &.right {
        flex-direction: row-reverse;

        @media (--to-medium-screen-w) {
            flex-direction: column;
        }

        .feature-info {
            @media (--to-medium-screen-w) {
                flex-direction: column;
                padding-right: 0;
                padding-left: rem(50);

                text-align: left;
            }
        }
    }

    // Elements
    &-title {
        box-orient: vertical;
        display: box;
        overflow: hidden;
        -webkit-line-clamp: 1;

        @media (--to-medium-screen-w) {
            padding-top: rem(10);
        }
    }

    &-subtitle {
        color: $color-light-shade-2;
    }

    &-content {
        box-orient: vertical;
        display: box;
        overflow: hidden;
        -webkit-line-clamp: 2;
    }

    &-image {
        overflow: hidden;

        border-radius: 10px;
        box-shadow: 0 8px 16px 16px rgba(0, 0, 0, 0.2);
    }

    &-info {
        display: flex;
        flex-basis: 40%;
        flex-direction: column;
        flex-shrink: 0;
        justify-content: center;
        padding-right: rem(50);

        text-align: right;

        @media (--from-medium-screen-w) {
            padding-left: rem(20);
        }
    }
}
