.feature {
    display: flex;
    margin-bottom: rem(40);

    border-radius: rem(5);

    @media (--to-medium-screen-w) {
        flex-direction: column;
    }


    // Elements
    &-title {
        -webkit-box-orient: vertical;
        display: -webkit-box;
        overflow: hidden;
        -webkit-line-clamp: 1;

        > a {
            color: $color-dark-tint-1;
        }

        &:hover {
            text-decoration: underline;
        }
    }

    &-content {
        -webkit-box-orient: vertical;
        display: -webkit-box;
        overflow: hidden;
        -webkit-line-clamp: 2;
    }

    &-image {
        width: 100%;
    }

    &-image-anchor {
        position: relative;

        flex-shrink: 0;
        max-height: rem(200);

        &::after {
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 1;

            width: 0;
            height: 3px;

            background-color: $color-primary;
            content: '';

            transition: all ease 0.8s;
        }
    }

    &-info {
        display: flex;
        flex-direction: column;
        padding-left: rem(20);
    }

    &-link {
        padding-top: rem(20);
        margin-top: auto;

        &:hover {
            text-decoration: underline;
        }
    }
}
