.form {
    margin-bottom: $gap-standard;

    &-title {
        position: relative;

        padding-bottom: rem(5);
        margin-bottom: rem(40);

        &::after {
            display: block;
            width: rem(250);
            margin-right: auto;
            margin-left: 0;

            border: none;
            border-bottom-color: $color-primary-tint-1;
            border-bottom-style: solid;
            border-bottom-width: 3px;

            content: "";
        }
    }

    &-input,
    &-text {
        display: block;
        width: 100%;
        padding: 12px;
        margin-bottom: rem(20);

        font-family: $font-secondary;

        font-size: rem(18);

        border: none;
        border-radius: 5px;
        box-shadow: inset 0 0 3px 2px rgba(0, 0, 0, 0.2);

        appearance: none;
    }

    &-text {
        height: 200px;
    }

    &-button {
        padding: rem(10) rem(20);

        color: $color-light;
        font-size: rem(20);

        background-color: $color-secondary;
        border: none;
        border-radius: 3px;
    }

    &-label {
        display: block;
        margin-bottom: 10px;

        font-family: $font-primary;
        font-weight: $weight-semi-bold;
    }
}
