.hamburger {
    box-sizing: border-box;
    display: none;
    width: rem(40);
    height: rem(40);

    cursor: pointer;
    background-color: $color-primary;
    border: none;

    appearance: none;

    @media (--to-medium-screen-w) {
        display: block;
    }

    &-wrapper {
        position: relative;

        height: inherit;
    }

    &-item {
        position: absolute;
        left: 20%;

        width: 60%;
        height: 0;
        padding-bottom: 5%;

        background-color: $color-light;
        border-radius: 99em;

        transition: all 250ms ease;

        &.line-1 {
            top: 12px;
        }

        &.line-2 {
            top: 24px;
        }
    }
}

.nav-open .hamburger-item {
    &.line-1 {
        top: 18px;

        transform: rotate(45deg);
    }

    &.line-2 {
        top: 18px;

        transform: rotate(-45deg);
    }
}
