.pill {
    display: inline-block;
    padding-top: rem(7);
    padding-right: rem(12);
    padding-bottom: rem(7);
    padding-left: rem(12);

    font-size: rem(12);
    text-transform: uppercase;

    background-color: $color-quaternary;
    border-radius: rem(25);

    filter: drop-shadow(4px 8px 8px rgba(0, 0, 0, 0.2));
}
