table {
    max-width: 100%;
    margin: 10px auto;
    overflow-x: auto;

    border-collapse: collapse;

    thead {
        background-color: $color-light-1;
    }

    th,
    td {
        padding: 6px 13px;

        border: 1px solid $color-light-1;
    }
}
