.tiles {
    &-inner {
        display: grid;
        gap: rem(20);

        grid-template-columns: 1fr;

        @media (--from-small-screen-w) {
            grid-template-columns: 1fr 1fr;
        }

        @media (--from-medium-screen-w) {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

    &-item {
        padding: rem(20);

        color: $color-light;

        background-image: $gradient-secondary;
        border-radius: rem(10);

        &-head {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: rem(15);
        }

        &-content {
            margin-bottom: rem(25);

            line-height: 1.6;
        }

        &-icon {
            margin-right: rem(20);

            border-radius: rem(10);
        }

        &-heading {
            margin-bottom: 0;
        }

        &-icon {
            width: rem(50);
            height: rem(50);

            background-color: $color-light;
        }

        &-meta .pill:not(:last-of-type) {
            margin-right: rem(10);
        }
    }
}
