.heading-1,
.heading-2,
.heading-3,
.heading-4,
.heading-5,
.heading-6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 rem(15);

    font-family: $font-primary;
    font-weight: $weight-semi-bold;
    word-break: break-word;
}

.heading-1,
h1 {
    font-size: rem(36);
}

.heading-2,
h2 {
    font-size: rem(24);
}

.heading-3,
h3 {
    font-size: rem(20);
}

.heading-4,
h4 {
    font-size: rem(18);
}

.heading-5,
h5 {
    font-size: rem(18);
    font-weight: $weight-regular;
}

.heading-6,
h6 {
    font-size: rem(16);
    font-weight: $weight-light;
}
