.header {
    display: flex;
    align-items: center;
    flex: none;
    width: 100%;
    margin-bottom: rem(30);

    background-color: $color-light;
    border-bottom: 5px solid $color-secondary;

    &-text {
        display: inline-block;
    }

    &-title {
        margin: 0;
        margin-right: rem(20);
    }

    &-link {
        display: block;
        width: 100%;
        height: 100%;
    }

    .container {
        display: flex;
        align-items: center;
        flex: none;
        padding: rem(10) rem(20);
    }
}
