.header {
    &-inner {
        display: flex;
        flex: none;
        align-items: center;
        width: 100%;
    }

    &-text {
        display: inline-block;
    }

    &-title {
        margin: 0;
        margin-right: rem(20);

        @media (--to-medium-screen-w) {
            padding-top: 5px;
        }
    }

    &-link {
        display: block;
        width: 100%;
        height: 100%;
    }

    .container {
        display: flex;
        flex: none;
        align-items: center;
        padding: rem(10) rem(20);
    }
}

.headroom {
    transition: box-shadow 400ms ease, background 400ms ease;

    &--pinned {
        background-color: rgba(245, 245, 245, 1);
        box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
    }
}
