/* GLOBAL TAG PROPS */

body,
html {
    height: 100%;

    font-family: $font-secondary;
}

.base {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    background-color: $color-light;

    .main {
        flex-grow: 1;
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img {
    height: auto;
    max-width: 100%;

    &:not([src]) {
        display: block;
        // min-height: 400px;
        margin: 0 auto;
    }
}

iframe {
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
}

hr {
    margin: 0;
    margin-bottom: rem(40);

    border: none;
    border-top: 5px solid $color-primary;
    box-shadow: none;
}
