.nav-open {
    @media (--to-medium-screen-w) {
        height: 100vh;
        overflow-y: hidden;

        .nav {
            width: 100%;

            transform: translateX(0);
        }
    }
}

.nav {
    z-index: 100;

    width: calc(100% - 45px);

    @media (--to-medium-screen-w) {
        position: fixed;
        top: 0;
        right: 0;

        width: 0;
        min-height: 100vh;
        overflow-y: auto;

        transform: translateX(100%);
        transition: all 250ms ease;
    }

    &-items {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0;

        @media (--to-medium-screen-w) {
            flex-direction: column;
            align-items: flex-start;
            height: 100vh;

            background-color: $color-light;
        }
    }

    &-item {
        flex: 1 0 rem(40);

        font-size: rem(18);
        list-style: none;

        transition: background ease 400ms;

        @media (--to-medium-screen-w) {
            flex: 0 0 auto;
            width: 100%;

            font-size: rem(24);
        }

        &:hover {
            background-color: $color-light-1;
        }
    }

    &-item-link {
        display: block;
        padding: rem(10);

        color: $color-dark-tint-2;
        font-family: monospace;
        font-size: rem(20);
    }
}
