a {
    color: $color-primary;
    text-decoration: none;

    transition: opacity 250ms ease;

    &:hover {
        opacity: 0.9;
    }
}

p,
li {
    font-family: $font-secondary;
    line-height: 1.8;
    margin-bottom: rem(10);
}

ul,
ol {
    padding-left: rem(20);
}

blockquote {
    padding: rem(20);
    margin: 0 0 rem(10);

    background-color: $color-light-shade-1;
    border-left: 3px solid $color-secondary;
}
