---
layout: homepage
title: Home
sortOrder: '1'
---

<section class="home" style="background-image: url('/assets/images/responsive/{{ site.coverimage }}-1920.jpg');">
  <div class="home-callout">
    <!-- <img class="home-image" title="" src="assets/images/Optomised/ResizedImage600611-linkedin-profile-1.jpg" alt="linkedin profile 1"> -->
	
	{% include components/image.html classes='home-image' image='me' test='Josh' %}

    <h1 class="home-title editable">Josh Post</h1>
  </div>
</section>

{% include components/homepage-teaser.html title='Blog' link='/blog/' category=site.posts %}

{% include components/homepage-teaser.html title='Code' link='/web-development/' category=site.websites %}

{% include components/homepage-teaser.html title='Photography' link='/photos/' category=site.photos %}