.tiles {
  margin-bottom: var(--gap-standard);

  &-inner {
    display: grid;
    gap: 20px;

    grid-template-columns: 1fr;

    @media (min-width: 601px) {
      grid-template-columns: 1fr 1fr;
    }

    @media (min-width: 801px) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  &-item {
    display: flex;
    flex-direction: column;
    padding: 20px;

    color: var(--color-light);

    background-color: var(--color-quaternary-shade-1);
    border-radius: 10px;
    filter: drop-shadow(8px 16px 16px rgba(0, 0, 0, 0.3));

    &-head {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 15px;
    }

    &-content {
      margin-bottom: 25px;

      line-height: 1.6;
    }

    &-icon {
      flex-shrink: 0;
      margin-right: 20px;

      border-radius: 10px;
    }

    &-heading {
      margin-bottom: 0;
    }

    &-icon {
      width: 50px;
      height: 50px;

      background-color: var(--color-light);
    }

    &-meta {
      margin-top: auto;

      .pill:not(:last-of-type) {
        margin-right: 10px;
      }
    }
  }
}
