<footer>
  <div class="container">
    <!-- {{ site.description }} -->
    <ul>
      <li class="twitter footer-link"><a href="http://twitter.com/posty72" target="_blank">Twitter</a></li>
      <li class="github footer-link"><a href="http://github.com/posty72" target="_blank">Github</a></li>
      <li class="email footer-link"><a href="mailto: posty72@gmail.com">Contact</a></li>
    </ul>
    <div class="clear"></div>
    <!-- <p itemprop="name">Josh Post, New Zealand</p> -->
  </div>

</footer>

