<header itemscope>
  <div class="container">
    <img class="leftAlone" title="" data-src="{{ site.baseurl }}assets/images/ResizedImage600611-linkedin-profile-1.jpg" alt="linkedin profile" width="600" height="611">
    <div class="headerText">
      <h2 itemprop="name"><a href="/">{{ site.title }}</a></h2>
      <p itemprop="title">Web Development / <strong class="red">New Zealand</strong></p>
    </div>
    <div class="clear"></div>

    <nav>
      <div class="row">
        <ul id="navLinks">
          {% for my_page in site.pages %}
            {% if my_page.title %}
            <li class="large-3 small-6 columns"><a href="{{ my_page.url | prepend: site.baseurl }}" class="{{ my_page.title }} animate">{{ my_page.title }}</a>
            {% endif %}
          {% endfor %}
          <li class="clear"></li>
        </ul>
      </div>
    </nav>

    <div class="contact-info row">
      <ul>
        <li class="large-4 small-12 columns"><span class="green">Email:</span> josh@josh-post.com</li>
        <li class="large-4 small-12 columns"><span class="green">Twitter:</span> <a class="grey" href="http://twitter.com/posty72">@posty72</a></li>
      </ul>
      <div class="clear"></div>
    </div>


    <div class="clear"></div>
  </div>
  <div class="clear"></div>
</header>

<ul id="externalLinks">
  <li><a id="LinkedInLink" href="http://nz.linkedin.com/in/joshpost" target="_blank">LinkedIn</a></li>
  <li><a id="RdioLink" href="http://www.rdio.com/people/posty72/" target="_blank">Google+</a></li>
  <li><a id="TwitterLink" href="http://twitter.com/posty72" target="_blank">Twitter</a></li>
  <li><a id="GithubLink" href="http://github.com/posty72" target="_blank">Github</a></li>
</ul>