<div id="nav-toggle">
  <div class="hamburger-wrapper">
    <div class="hamburger line-1"></div>
    <div class="hamburger line-2"></div>
    <div class="hamburger line-3"></div>
  </div>
</div>

<nav>
  {% assign my_page = site.pages | sort: "sortOrder" %}
  <ul id="navLinks">
    {% for p in my_page %}
      {% if p.title %}
        <li><a href="{{ p.url | prepend: site.baseurl }}">{{ p.title }}</a>
      {% endif %}
    {% endfor %}
    <li><a href="mailto: posty72@gmail.com" target="_blank">Contact Me</a></li>
  </ul>
</nav>

<div id="top">
    <div class="wrapper" style="transform: rotate(45deg);"></div>
</div>