/*
    Layout
    - Constraint
 */

// Constraint
.constrain-width {
  max-width: var(--constrain-width);
  margin-right: auto;
  margin-left: auto;

  // Types
  &:not(.no-pad) {
    padding-right: 20px;
    padding-left: 20px;
  }

  // Sizes
  &.small {
    max-width: var(--constrain-width-small);
  }

  &.medium {
    max-width: var(--constrain-width-medium);
  }

  &.large {
    max-width: var(--constrain-width-large);
  }

  &.x-large {
    max-width: var(--constrain-width-x-large);
  }
}
