/* GLOBAL TAG PROPS */

body, html {
  height: 100%;
}

body, body * {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: $green;
}

img {
  max-width: 100%;
  height: auto;
}


/* GLOABL CLASSES */

.container {
  max-width: 100%;
  box-sizing: border-box;
  width: 1200px;
  margin: 0 auto;
}

@import "./layout/_navigation";
@import "./layout/_footer";