/* GLOBAL TAG PROPS */

body, html {
  height: 100%;
  font-family: $body-font;
}

body, body * {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: $green;
  transition: opacity 250ms ease; 

  &:hover {
    opacity: 0.9;
  }
}

img {
  max-width: 100%;
  height: auto;
}


/* GLOABL CLASSES */

.container {
  max-width: 100%;
  box-sizing: border-box;
  width: 1200px;
  margin: 0 auto;
}

.clear { clear:both; }


$break-small: "max-width: 767px" ;

@import "./layout/_navigation";
@import "./layout/_header";
@import "./layout/_footer";
