.post-content {
  max-width: 570px;
  margin: 5px auto;

  p {
    font-size: 1.1em;
  }
}

.post-author {
  text-align: right;
  border-top: 3px solid #A11222;
  padding: 10px;
  box-sizing: border-box;
  margin-top: 50px;
}