.features {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.feature {
	flex: 1 0 75%;
    margin-bottom: rem(30);
    padding: rem(15) 1.5%;
    max-width: rem(800);
}

.feature-title {
    font-family: $header-font;
    padding: 20px 3% 0;
    text-align: center;
}

.feature-subtitle {
    padding: 20px 3% 0;
    font-family: $header-font;
    text-align: center;
    color: $color-light-2;
}

.feature-content {
	padding: rem(15) 0;
    font-family: $font-body;
}

.feature-image-anchor {
    justify-content: center;
}

.feature-image {
    width: 100%;
}
