

table {
  border-collapse: collapse;
  margin: 10px auto;
  max-width: 100%;
  overflow-x: auto;

  thead {
    background-color: $color-light-1;
  }

  th, td {
    border: 1px solid $color-light-1; 
    padding: 6px 13px;
  }

}