.post {
  box-sizing: border-box;
  width: 100%;
  padding: 0 2%;
}

.post-header {
  background-color: transparent;

  @media screen and ($break-small) {
    padding: 0 15px;
  }
}

.post-content {
  max-width: 570px;
  margin: 0 auto;
  overflow-wrap: break-word;
  ol li,
  ul li {
    margin-left: 40px;
    font-size: 1.1em;
    line-height: 1.6;
  }
  h1,
  h2,
  h3,
  p,
  ul,
  ol {
    margin-bottom: 15px;
  }
  h1 {
    font-size: 5em;
  }
  h2 {
    font-size: 2.5em;
  }
  h3,
  h4,
  h5 {
    font-size: 1.4em;
  }
  p {
    font-size: 1.1em;
  }
}

figure {
  padding: 10px 0;
  max-width: 800px;
  margin: 10px auto;
  figcaption {
    border-bottom: 1px dashed $maroon;
  }
}

.post-title {
  font-size: 4em;
  padding: 0 0 20px;
}

.post-subtitle {
  font-size: 2em;
  padding: 0 0 20px;
  color: $mid-grey;
}

time {
  color: $maroon;
  text-align: right;
  font-style: italic;
  display: block;
  font-family: $body-font;
}

.post-author {
  color: $maroon;
  /* text-indent: 10%; */
  padding: 25px 0;
  text-align: center;
  font-size: 2em;
}


.rss-subscribe {
  text-align: center;
  padding: 10px;
}

 
@media screen and ($break-small) {
  .post .post-content,
  figure {
    padding: 15px;
    box-sizing: border-box;
  }
  
}
