
#portfolio-page {
  padding: 2%;
  width: 100%;
  box-sizing: border-box;
}

.website {
  // box-shadow: 0px 0px 3px 0px #aaa;
  // border-bottom: 3px solid $maroon; 
  margin: 0 auto 20px;
  padding: 2%;
  max-width: 800px;

  .post-title {
    padding: 0 0 20px;
    text-align: center;
    font-size: 3em; 
  }

  img {
    display: block;
    margin: 0 auto;
  }
}

.website-content {

  p {
    max-width: 570px;
    margin: 0 auto;
    padding: 15px;
  }
}