// @font-face {
//   font-family: "Leberkaas";
//   src: url('../assets/fonts/LeberkaasGrotesk.otf');
// }

$header-font: "Merriweather", "Time New Roman", serif;
$body-font: "Open Sans", Helvetica, Arial, sans-serif;

h1, h2, h3, h4, h5 {
  font-family: $header-font;
  word-break: break-word;
}

p, li {
  font-family: $body-font;
}

blockquote {
  border-left: 3px solid $maroon;
  background-color: #ededed;
  padding: 20px;
  margin: 10px 0;
}

/* RESPONSIVE FONTS */

@media screen and ($break-large) {
  body {
    font-size: 100%;
  }
}

@media screen and ($break-small) {
  body {
    font-size: 75%;
  }
}