// @font-face {
//   font-family: "Leberkaas";
//   src: url('../assets/fonts/LeberkaasGrotesk.otf');
// }

$header-font: "Merriweather", "Time New Roman", serif;
$body-font: "Open Sans", Helvetica, Arial, sans-serif;

/* RESPONSIVE FONTS */

@media screen and ($break-large) {
  body {
    font-size: 100%;
  }
}

@media screen and ($break-small) {
  body {
    font-size: 75%;
  }
}