.post {
  width: 100%;
  max-width: 1000px;
}

.post-image {
  width: 100%;
}

.post-content {
  max-width: rem(800);
  padding: 0 rem(20);
  overflow-wrap: break-word;
  color: $color-dark;
  margin: 0 auto;
  font-size: rem(18);

  blockquote p {
    margin-bottom: 0;
  }

  ol li,
  ul li {
    margin-left: 40px;
    line-height: 1.6;
  }
  h1,
  h2,
  h3,
  p,
  ul,
  ol {
    margin-bottom: 15px;
  }
}

figure {
  margin: 0 auto rem(20);
}

.post-subtitle {
  padding: 0 0 20px;
  color: $color-light-2;
}

time {
  color: $color-secondary;
  font-style: italic;
  display: block;
  font-family: $font-body;
  margin: 0 auto rem(20);
}

.post-author {
  color: $color-secondary;
  padding: 25px 0;
  text-align: center;
}

.rss-subscribe {
  text-align: center;
  padding: 10px;
}
