:root {
  /* Colours */
  --color-green: rgba(63, 174, 121, 1);
  --color-blue: rgba(19, 84, 122, 1);
  --color-kahurangi: rgba(42, 152, 216, 1);
  --color-gold: rgba(255, 162, 0, 1);
  --color-black: rgba(0, 0, 0, 1);
  --color-white: rgba(255, 255, 255, 1);
  --color-abel: rgba(4, 160, 152, 1);
  --color-primary: var(--color-green);
  /* For the tints and shades, there's no direct color manipulation in CSS, so these have to be calculated or hardcoded. */
  --color-primary-tint-1: rgba(71, 189, 134, 1); /* Example hardcoded tint */
  --color-primary-shade-1: rgba(57, 157, 109, 1); /* Example hardcoded shade */
  --color-secondary: var(--color-blue);
  --color-secondary-tint-1: var(--color-kahurangi);
  --color-secondary-shade-1: rgba(17, 76, 110, 1); /* Example hardcoded shade */
  --color-tertiary: var(--color-gold);
  --color-tertiary-tint-1: rgba(255, 170, 26, 1); /* Example hardcoded tint */
  --color-tertiary-shade-1: rgba(230, 145, 0, 1); /* Example hardcoded shade */
  --color-quaternary: var(--color-abel);
  --color-quaternary-tint-1: rgba(5, 176, 167, 1); /* Example hardcoded tint */
  --color-quaternary-shade-1: rgba(
    4,
    144,
    137,
    1
  ); /* Example hardcoded shade */
  --color-dark: var(--color-black);
  --color-dark-tint-1: rgba(26, 26, 26, 1); /* Example hardcoded tint */
  --color-dark-tint-2: rgba(51, 51, 51, 1); /* Example hardcoded tint */
  --color-dark-alpha-1: rgba(0, 0, 0, 0.1);
  --color-light: var(--color-white);
  --color-light-shade-1: rgba(230, 230, 230, 1); /* Example hardcoded shade */
  --color-light-shade-2: rgba(191, 191, 191, 1); /* Example hardcoded shade */
  --color-light-alpha-1: rgba(255, 255, 255, 0.8);

  /* Typography */
  --font-primary: "Comfortaa", "Helvetica", "Arial", sans-serif;
  --font-secondary: "Open Sans", "Helvetica", "Arial", sans-serif;
  --weight-light: 200;
  --weight-regular: 400;
  --weight-semi-bold: 600;
  --weight-bold: 700;

  /* Widths */
  --constrain-width-x-large: 1600px;
  --constrain-width-large: 1280px;
  --constrain-width: 960px;
  --constrain-width-medium: 740px;
  --constrain-width-small: 600px;

  /* Gaps */
  --gap-standard: 50px;
}

/* Gradients */
.gradient-standard {
  background: linear-gradient(
    104.51deg,
    rgba(15, 61, 88, 1) 0%,
    rgba(57, 156, 108, 1) 100%
  );
}
.gradient-secondary {
  background: linear-gradient(
    105deg,
    rgba(15, 61, 88, 1) 0%,
    var(--color-abel) 90%,
    rgba(36, 144, 137, 1) 100%
  );
}
.gradient-tertiary {
  background: linear-gradient(
    104.51deg,
    rgba(57, 156, 108, 1) 0%,
    rgba(229, 146, 0, 1) 100%
  );
}
.gradient-fade {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.4), transparent);
}
