
  
{% if include.limit %}
  {% assign limitedto = include.limit %}
{% else %}
  {% assign limitedto = all %}
{% endif %}

<div class="features">

  {% for feature in include.features limit:limitedto %}

    <article class="feature">

      <a class="feature-image-anchor" href="{{ feature.link }}">
        <img class="feature-image" data-src="/assets/images/Optomised/{{ feature.coverimage }}" alt="{{ feature.title }}" />
      </a>

      <h1 class="feature-title">
        <a href="{{ feature.link }}" target="_blank">{{ feature.title }}</a>
      </h1> 

      {% if feature.subtitle %}
        <h4 class="feature-subtitle">{{ feature.subtitle }}</h4>
      {% endif %}

      <div class="feature-content">
      
        {{ feature.content }}

        {% if feature.company %}
          <p class="feature-company"><em>Made for {{ feature.company }}</em></p>
        {% endif %}

      </div>
    </article>

  {% endfor %}

</div>