textarea.picture {    
	// visibility: hidden;
	border: none;
    padding-bottom: 56.50%;
    width: 100%;
    height: 0;
    font-size: 0;
    // background-image: url(../assets/images/responsive/placeholder-800.jpg);
    background-size: cover;
    background-position: center center;
    background-color: #ededed;
    resize: none;
}