

table {
  border-collapse: collapse;
  margin: 10px auto;
  max-width: 100%;
  overflow-x: auto;

  thead {
    background-color: $lite-grey;
  }

  th, td {
    border: 1px solid $lite-grey; 
    padding: 6px 13px;
  }

}