.teasers {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.teaser {
  margin: 0 auto 20px;
  padding: 1.5%;
  flex: 1 1 33%;



  @media screen and ($break-small){
    flex: 1 1 100%;
  }
}

.teaser-title {
  font-family: $header-font;
  padding: 20px 3% 0;
  font-size: 2em;
  text-align: center;

  @media screen and ($break-small){
    padding: 15px 0 0;
    text-align: left;
  }
}

.teaser-title-link {
  color: $color-dark;
}

.teaser-subtitle {
  font-family: $header-font;
  padding: 20px 3% 0;
  font-size: 1.5em;
  text-align: center;
}

.teaser-description {
  color: $color-dark;
  padding: 15px;
  font-family: $body-font;

  @media screen and ($break-small){
    padding: 15px 0;
  }
}

.teaser-anchorImage {
	
}

.teaser-image {
  width: 100%;
}

.teaser-time {
  color: $color-secondary;
  text-align: right;
  font-style: italic;
  display: block;
  font-family: $body-font;
}

@media screen and ($break-medium) {

  .teaser:first-child {
    width: 100%;
    flex: 1 1 100%;
    .teaser-title {
      font-size: 3em;
    }
  }

}