
html.nav-open {

  overflow-y: hidden;
  body {
    overflow-y: hidden;
  }

  nav {
    width: 100%;
  }

  #nav-toggle .hamburger {
    &.line-1 {
      transform: rotate(45deg);
      top: 16px;
    }
    &.line-3 {
      transform: rotate(135deg);
      top: 16px;
    }
    &.line-2 {opacity: 0;}
  }

}


nav {
  position: absolute;
  top: 0;
  height: 100%;
  overflow-y: auto;
  right: 0;
  width: 0;
  transition: all 250ms ease;
  z-index: 100;

  #navLinks {
    box-shadow: 0px 0px 3px #333;

    li {
      font-size: 4em;

      a {
        font-family: $header-font;
        display: block;
        color: $green;
        background-color: rgba(255, 255, 255, 1);
        padding: 40px 20%;
        line-height: 0.5;
      }

      @media screen and ($break-small){
        font-size: 3em;
      }
    }
  }
}

#nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 40px;
  height: 40px;
  background-color: $green;
  z-index: 110;
  box-sizing: border-box;
  cursor: pointer;

  .hamburger-wrapper {
    position: relative;

    .hamburger {
      position: absolute;
      width: 60%;
      height: 0;
      left: 20%;
      padding-bottom: 10%;
      background-color: #fff;
      border-radius: 99em;
      transition: all 250ms ease;

      &.line-1 {top: 8px;}
      &.line-2 {top: 17px;}
      &.line-3 {top: 26px;}
    }
  }
}