.footer {
    margin-top: auto;
    padding-top: rem(100);

    &-items {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: rem(20);
    }

    &-item {
        display: inline-block;
        width: rem(35);
        height: rem(35);
        margin: rem(10);
        overflow: hidden;

        text-indent: -99em;

        background-size: 100%;

        &.twitter {
            background-image: url($twitter-icon);
        }

        &.github {
            background-image: url($github-icon);
        }

        &.email {
            background-image: url($email-icon);
        }
    }

    &-link {
        display: block;
        width: 100%;
        height: 100%;
    }
}
