/*
    Colours
 */
$color-green: rgba(63, 174, 121, 1);
$color-blue: rgba(19, 84, 122, 1);
$color-kahurangi: rgba(42, 152, 216, 1);
$color-gold: rgba(255, 162, 0, 1);
$color-black: rgba(0, 0, 0, 1);
$color-white: rgba(255, 255, 255, 1);
$color-abel: rgba(4, 160, 152, 1);
$color-primary: $color-green;
$color-primary-tint-1: color($color-primary tint(10%));
$color-primary-shade-1: color($color-primary shade(10%));
$color-secondary: $color-blue;
$color-secondary-tint-1: $color-kahurangi;
$color-secondary-shade-1: color($color-secondary shade(10%));
$color-tertiary: $color-gold;
$color-tertiary-tint-1: color($color-tertiary tint(10%));
$color-tertiary-shade-1: color($color-tertiary shade(10%));
$color-quaternary: $color-abel;
$color-quaternary-tint-1: color($color-quaternary tint(10%));
$color-quaternary-shade-1: color($color-quaternary shade(10%));
$color-dark: $color-black;
$color-dark-tint-1: color($color-black tint(10%));
$color-dark-tint-2: color($color-black tint(20%));
$color-dark-alpha-1: color($color-black a(10%));
$color-light: $color-white;
$color-light-shade-1: color($color-white shade(10%));
$color-light-shade-2: color($color-white shade(25%));
$color-light-alpha-1: color($color-white a(80%));

/*
     Typography
     - Fonts
     - Weights
  */
$font-comfortaa: "Comfortaa", "Helvetica", "Arial", sans-serif;
$font-open-sans: "Open Sans", "Helvetica", "Arial", sans-serif;
$font-primary: $font-comfortaa;
$font-secondary: $font-open-sans;
$weight-light: 200;
$weight-regular: 400;
$weight-semi-bold: 600;
$weight-bold: 700;

/*
    Breakpoints
 */
@custom-media --to-tiny-screen-w (max-width: 400px);
@custom-media --to-small-screen-w (max-width: 600px);
@custom-media --to-medium-screen-w (max-width: 800px);
@custom-media --to-normal-screen-w (max-width: 1000px);
@custom-media --to-large-screen-w (max-width: 1200px);
@custom-media --from-tiny-screen-w (min-width: 401px);
@custom-media --from-small-screen-w (min-width: 601px);
@custom-media --from-medium-screen-w (min-width: 801px);
@custom-media --from-normal-screen-w (min-width: 1001px);
@custom-media --from-large-screen-w (min-width: 1201px);

/*
     Widths
  */
$constrain-width-x-large: 1600;
$constrain-width-large: 1280;
$constrain-width: 960;
$constrain-width-medium: 740;
$constrain-width-small: 600;

/*
    Gradients
 */
$gradient-standard: linear-gradient(
    104.51deg,
    $color-secondary-shade-1 0%,
    $color-primary-shade-1 100%
);
$gradient-secondary: linear-gradient(
    105deg,
    $color-secondary-shade-1 0%,
    $color-quaternary 90%,
    $color-quaternary-shade-1 100%
);
$gradient-tertiary: linear-gradient(
    104.51deg,
    $color-primary-shade-1 0%,
    $color-tertiary-shade-1 100%
);
$gradient-fade: linear-gradient(180deg, rgba(0, 0, 0, 0.4), transparent);

/*
    Gaps
 */
$gap-standard: 50px;
